
<!-- mian content -->
<div class="container mt-5 justify-content-center">

  <div class="row justify-content-center mb-3">
    {{!-- search bar --}}
    <form action="/search" class="col-12 col-sm-4 col-md-3 mx-4 mb-5 p-0">
        <label for="search-bar" class="position-absolute pl-3 pt-2">
          <i class="fas fa-search"></i>
        </label>
        <input type="text" name="keyword" id="search-bar" class="form-control search-bar" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button">
    </form>
    {{!-- invisable div --}}
    <div class="col-12 col-sm-4 col-md-3 mx-4 mb-5 p-0"></div>
    {{!-- sort options dropdown --}}
      <div class="dropdown col-12 col-sm-4 col-md-3 mx-4 mb-5 p-0">
        <a class="btn btn-outline-secondary d-flex w-100 justify-content-between" role="button" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <p class="m-0">排序: {{name}}</p>
          <p><i class="fas fa-caret-down"></i></p>
        </a>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownButton">
          <li><a class="dropdown-item" href="/search/?keyword={{keyword}}&type=rating&sequence=desc&name=評分">評分</a></li>
          <li><a class="dropdown-item" href="/search/?keyword={{keyword}}&type=name&sequence=asc&name=A到Z">A -> Z</a></li>
          <li><a class="dropdown-item" href="/search/?keyword={{keyword}}&type=name&sequence=desc&name=Z到A">Z -> A</a></li>
          <li><a class="dropdown-item" href="/search/?keyword={{keyword}}&type=category&sequence=asc&name=類別">類別</a></li>
          <li><a class="dropdown-item" href="/search/?keyword={{keyword}}&type=location&sequence=asc&name=地區">地區</a></li>
        </ul>
      </div>
    </div>
  
  {{!-- restaurants --}}
  <div class="row justify-content-center">
    {{#each restaurants}}
      <div class="card col-12 col-sm-4 col-md-3 mb-5 mx-4 p-0">
        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <img class="card-img-top" src="{{this.image}}" onerror="this.src='https://www.wwe.com/f/styles/og_image/public/all/2019/10/RAW_06202016rf_1606--3d3997f53e6f3e9277cd5a67fbd8f31f.jpg';" alt="{{this.name}}">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{this.name}}</h6>
            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </div>
            <span class="badge badge-pill badge-danger font-weight-normal">
              {{this.rating}}<i class="fas fa-star fa-xs"></i>
            </span>
          </div>
        </a>
        <div class="card-footer px-3 d-flex justify-content-between">
          <div>
            <a class="btn btn-outline-secondary btn-sm mr-2" href="/restaurants/{{this._id}}" role="button"><i class="fas fa-info-circle"></i></a>
            <a class="btn btn-outline-secondary btn-sm" href="/restaurants/{{this._id}}/edit" role="button"><i class="fas fa-edit"></i></a>
          </div>
          <form action="./restaurants/{{ this._id }}?_method=DELETE" method="POST" onsubmit="return deleteAlert()" style="display: inline;">
            <button class="btn btn-outline-danger btn-sm" type="submit">X</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
</div>